@import '../../../variables';

h1 {
  text-align: center;
  font-size: 28px;
  color: white;
  font-weight: normal;
  margin-bottom: 32px;

  @media screen and (max-width: $mobile_cutoff) {
    font-size: 20px;
  }
}

p {
  display: inline;
  color: white;
  line-height: 2;
  font-size: 20px;
}

#word_frequency {
  background: $div_color_two;
  height: auto;
  padding: 2em;
  overflow-y: auto;
  text-align: left;
  word-break: break-word;
}
