#comments {
  padding-top: 1em;
  background: #29aaaa;
  height: available;
}

.comment {
  padding: 2em;
}

.comment:nth-child(odd) {
  background: #4dc1bb;
}

.comment p {
  color: white;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-size: 28px;
  color: white;
  font-weight: normal;
}

