img {
  width: 80%;
  margin-top: 5em;
}

input {
  width: 80%;
  margin-top: 5em;
  padding: .5em;
  border-radius: 5em;
  background: #ebf0f7;
  text-align: center;
  color: #787878;
}

input::placeholder {
  color: #bababa;
}

input:focus {
  outline: none;
  box-shadow: 0 0 4px gray;
}

#description {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 1.5em;
  width: 80%;
}

#description p {
  color: gray;
}

#footer_text {
  position: absolute;
  margin: auto;
  bottom: 1em;
  color: gray;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}
