<div id="sidebar" [class.show_menu]="showDropDown">
  <img src="assets/img/logo.svg" alt="Toxicity">
  <label>
    <input type="text" [(ngModel)]="searchText" [placeholder]="placeholder" (keyup.enter)="analyze()">
  </label>
  <div id="description" [class.show_description]="showDropDown">
    <p>
      {{description}} <br><br>
      Non-Toxic (Score &#8805; 2)<br>
      Very Positive (1 &#8804; Score < 2)<br>
      Positive (0.25 &#8804; Score < 1)<br>
      Neutral (-0.25 < Score < 0.25)<br>
      Negative (-1 < Score &#8804; -0.25)<br>
      Very Negative (-2 < Score &#8804; -1)<br>
      Toxic (Score &#8804; -2)<br><br>
      {{createdBy}}<br>
      {{lastUpdated}}<br><br>
      {{notice}}
    </p>
  </div>
  <div class="menu_icon" (click)="toggleMenu()">
    <div class="menu_icon_bar" [class.rotate]="showDropDown"></div>
    <div class="menu_icon_bar" [class.rotate]="showDropDown"></div>
  </div>
</div>
